/* GLOBAL */

.heading { margin-bottom: 2rem; }


/* BOOTSTRAP CLASSES */
.container-fluid {
    padding: 0;
}

hr {
    border-color: rgb(175, 171, 171);
}


/* SCORING */

.record-box,
.user-score,
.message-box {
    border: outset 6px gray;
    border-radius: 5px;
    width: 45%;
    margin: 1rem auto;
    background-color: aliceblue;
    padding: 1rem 1.5rem;
    transition: all .8s;
}

.message-box { opacity: 0; }
.message-box-active { opacity: 1; }



.record-block {
    display: inline-block;
    margin: 0 2rem;
}

/* IMAGES */
img {
    height: 150px;
}

.crystal {
    display: inline-block;
    padding: 0 3rem;
}

