/* GLOBAL */

.heading { margin-bottom: 2rem; }


/* BOOTSTRAP CLASSES */
.container-fluid {
    padding: 0;
}

hr {
    border-color: rgb(175, 171, 171);
}


/* SCORING */

.record-box,
.user-score {
    border: outset 6px gray;
    border-radius: 5px;
    width: 45%;
    margin: 1rem auto;
    background-color: aliceblue;
    padding: 1rem 1.5rem;
    transition: all .8s;
}

.message-box { opacity: 0; }
.message-box-active { opacity: 1; }



.record-block {
    display: inline-block;
    margin: 0 2rem;
}

/* IMAGES */


#btn-one .egg-top { fill: rgb(223, 73, 73); }
#btn-one .egg-bottom { fill: rgb(180, 21, 0); }

#btn-two .egg-top { fill: rgb(28, 151, 28); }
#btn-two .egg-bottom { fill: rgb(23, 83, 28); }

#btn-three .egg-top { fill: rgb(105, 97, 224); }
#btn-three .egg-bottom { fill: rgb(28, 53, 165); }

#btn-four .egg-top { fill: rgb(224, 154, 97); }
#btn-four .egg-bottom { fill: rgb(165, 106, 28); }
